html{
    cursor: crosshair;
}
body{
	background-image: url("trippydice.jpg");
	background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
button{
  background-image: url("rotating1dice.gif");
  background-size: cover;
  background-position: center;
  position: center;
  color: white;
  padding: 15px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  height: 75px;
  width: 120px
}
.column{
  float: center;
  width: 50%;
  color: white;
  position: center;
  text-align: center;
  font-size: 32px;
}
.row:after{
  float: center;
  width: 50%;
  color: white;
  position: center;
  text-align: center;
  font-size: 32px;
}
div{

}
h1{
  position: center;
  color: black;
  text-align: center;
  font-size: 32px
}
footer{
  float: center;
  width: 50%;
  color: white;
  position: center;  
}
h2{
  position: center;
  background-color:transparent;
  font-size:28px;
  padding:8px;
}
figure {
    margin: 0;
}
figcaption{
    padding:8px;
}
h3{
  background-color: white;
  text-align: center;
  position: center;
  color: black;
  font-size: 18px;
}